#topRow {
	height: 40px;
}

#topRow #userName {
	display: inline;
	margin: 0 30px 0 40px;
	font: 25px arial bold;
	color: #333;
}

#middleRow {}

#middleRow #leftInfo {
	float: left;
	width: 250px;
	min-height: 500px;
}

#middleRow #rightInfo {
	padding: 0 0 0 20px;
	margin: 0 0 0 20px;
	min-height: 500px;
	border-left: 1px solid #999;
	overflow: hidden;
}

#middleRow #leftInfo #userAvatar {
	margin: 0 auto;
	padding: 10px;
	width: 200px;
	height: 150px;
	background: #fae3d8;
}

#middleRow #leftInfo #profileInfo {
	margin: 20px 0 0 0;
	color: #333;
}

#middleRow #leftInfo #profileInfo h3 {
	margin: 0 0 10px 0;
	font: 20px bold;
}

#middleRow #leftInfo #profileInfo p {
	padding: 0 0 0 20px;
	padding: 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #999;
}

#middleRow #leftInfo #profileInfo p strong {
	font-weight: bold;
}

#middleRow #rightInfo #photuGallery {
	margin: 0 0 20px -5px;
	width: 890px;
	height: 170px;
}

#middleRow #rightInfo #photuGallery .pGallery {
	float: left;
	padding: 10px;
	margin: 0 10px;
	width: 180px;
	height: 150px;
	box-shadow: inset rgba(255, 255, 255 ,.4) 0 4px 4px, rgba(0, 0, 0, .3) 0 0 3px;
	background: #fcfcfc;
}

#middleRow #rightInfo #photuGallery .pGallery img {}

#middleRow #rightInfo #bio {
	margin: 20px 0 0 0;
	width: 728px;
}

#middleRow #rightInfo #bio h3 {
	font: 20px arial bold;
	color: #333;
}

#middleRow #rightInfo #bio #arrowUp {
	margin: 0 0 0 50px;
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #eee;
}

#middleRow #rightInfo #bio p {
	padding: 10px;
	font: 14px arial bolder;
	color: #333;
	border-radius: 15px;
	border: 1px solid #eee;
}

.adTmpBg {
	background: #00f;
}

