#login {
	margin:30px auto 0 auto;
}

#login tr td #rememberMeDiv {
	margin:5px 10px 0 0;
	text-align:right;
}

#login tr td #rememberMeDiv label {
	font: 25px Arial bolder;
	color:#333;
	text-align:right;
}