<footer id="footer">
	<a href="http://www.storemaker.ro">StoreMaker</a>
	&copy; 2018 {% if 'now'|date('Y') > 2018 %} - {{ 'now'|date('y') }} {% endif %} All rights reserved.<br>
	Version 1.0
</footer>