{% extends '_layout_tamplate/styles/default/app.twig' %}

{% block headTitle %}Home{% endblock %}

{% block content %}
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-user-group" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Save">
					<i class="fa fa-save"></i>
				</button>
				<a href="#" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Cancel">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>Store maker</h1>
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
			</ul>
		</div>
	</div>
{% endblock %}