ul.displayErrors {
	margin: 0 0 0 0px;
	list-style: none;
}

ul.displayErrors li, span.formError {
	padding: 0 0 0 30px;
	color: #f00;
	background: url(../images/error_icon.png) no-repeat center left;
}

span.formError {
	display: block;
	margin: 10px 0 0 calc(16.66667% + 0px);
	/*color: #f00;*/
}

@media (max-width: 1200px) {
	span.formError {
		margin: 10px 0 0 15px;
	}
}