/*  resets ----------------------------------------------------------------------------*/
* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body * {
	color:#333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

a:link, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	outline: none;
}
/* /resets ------------------------------------------------------------------------------*/
/* header -------------------------------------------------------------------------------*/
#header {
	display: flex;
	width:100%;
	height:50px;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: 1px solid #000;
	background: #333;
	background: -webkit-linear-gradient( #444, #222);
	background: -moz-linear-gradient( #444, #222);
	background: -o-linear-gradient( #444, #222);
	background: -ms-linear-gradient( #444, #222);
	background: linear-gradient( #444, #222);

}

#header #logo {
	margin: 0 0 0 40px;
	color: #fff;
	order: 0;
}

#header #logo h1 {
	color: #fff;
}

#header #userInfo {
	margin: 50px 100px 0 auto;
	width: 440px;
	align-self:flex-start;
	order: 6;
}

#header #userInfo #UIinner {
	display: none;
	padding: 10px;
	width: 100%;
	font-weight: 300;
	color: #a8a7a8;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 10px solid #000;
	border-top: none;
	background: #373737 url("../images/ui_inner_bg.png") 0 0 repeat;
}

#header #userInfo #UIinner #loginForm {
	position: relative;
}

#header #userInfo #UIinner #loginForm .loginFormRow {
	margin: 10px auto 0 auto;
}

#header #userInfo #UIinner #loginForm .loginFormRow.links {
	text-align: center;
}

#header #userInfo #UIinner #loginForm .loginFormRow.links a {
	color: #00a1d2;
}

#header #userInfo #UIinner #loginForm .loginFormRow label,
#header #userInfo #UIinner #loginForm .loginFormRow input{
	font: 'Helvetica Neue', Helvetica, Arial, sans-serif 300;
	color: #a8a7a8;
}

#header #userInfo #UIinner #loginForm .loginFormRow:not(.rememberMe) label {
	float: left;
	width: 85px;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
	letter-spacing: 1px;
}

#header #userInfo #UIinner #loginForm .loginFormRow:not(.rememberMe) input {
	padding: 0 40px 0 10px;
	width: 295px;
	height: 40px;
	font-size: 15px;
	text-shadow: 1px 1px 1px black;
	background: rgba(0, 0, 0, 0.16);
	border: 0;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

#header #userInfo #UIinner #loginForm .loginFormRow:not(.rememberMe) input.error {
	padding-right: 70px;
	text-align: left;
	background: url(../images/error_icon.png) no-repeat 235px center rgba(0, 0, 0, 0.16);
}

#header #userInfo #UIinner #loginForm .loginFormRow:not(.rememberMe) input.ok {
	padding-right: 70px;
	background: url(../images/ok_icon.png) no-repeat 235px center rgba(0, 0, 0, 0.16);
}

#header #userInfo #UIinner #loginForm .loginFormRow:not(.rememberMe) input.loading {
	padding-right: 70px;
	background: url(../images/loader_icon.gif) no-repeat 235px center rgba(0, 0, 0, 0.16);
	background-size: 24px;
}

#header #userInfo #UIinner #loginForm .loginFormRow input:focus {
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
}


#header #userInfo #UIinner #loginForm #loginButtonRow {
	position: absolute;
	top: 0px;
	right: 15px;
	width: 48px;
	height: 48px;
	padding: 8px;
	border-radius: 32px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

#header #userInfo #UIinner #loginForm #loginButtonRow:before,
#header #userInfo #UIinner #loginForm #loginButtonRow:after {
	content: '';
	z-index: 1;
	position: absolute;
}

#header #userInfo #UIinner #loginForm #loginButtonRow:before {
	top: 28px;
	left: -4px;
	width: 4px;
	height: 10px;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}

#header #userInfo #UIinner #loginForm #loginButtonRow:after {
	top: -4px;
	bottom: -4px;
	right: -4px;
	width: 36px;
}


#header #userInfo #UIinner #loginForm .loginFormRow button {
	position: relative;
	z-index: 2;
	width: 48px;
	height: 48px;
	padding: 0 0 48px;
	text-indent: 120%;
	white-space: nowrap;
	overflow: hidden;
	background: none;
	border: 0;
	outline: none;
	border-radius: 24px;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}

#header #userInfo #UIinner #loginForm .loginFormRow button:before {
	content: '';
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	background: #00a2d3;
	border-radius: 24px;
	background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
	background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
	background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
	background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
	-webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

#header #userInfo #UIinner #loginForm .loginFormRow button:active:before {
	background: #0591ba;
	background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
	background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
	background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
	background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}

#header #userInfo #UIinner #loginForm .loginFormRow button:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 12px;
	width: 25px;
	height: 19px;
	background: url("../images/login_button_arrow.png") 0 0 no-repeat;
}

#header #userInfo #UIinner #loginForm .loginFormRow.rememberMe {
	padding-right: 12px;
	text-align: right;
}

#header #userInfo #UIinner #loginForm .loginFormRow.rememberMe input[type="checkbox"] {
	display:none;
}

#header #userInfo #UIinner #loginForm .loginFormRow.rememberMe input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

#header #userInfo #UIinner #loginForm .loginFormRow.rememberMe input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}


#header #userInfo #userInfoBtn {
	position: relative;
	display: table;
	margin: 0 auto;
	height: 33px;
	font: 20px bold;
	color: #fff;
	text-align: center;
	line-height: 33px;
	background: #222;
}

#header #userInfo #userInfoBtn:before,
#header #userInfo #userInfoBtn:after {
	position: absolute;
	display: block;
	content: " ";
	top: 0px;
	width: 13px;
	height: 33px;
}

#header #userInfo #userInfoBtn:before {
	left: -13px;
	background: url(../images/user_info_left_bg.png) no-repeat;
}

#header #userInfo #userInfoBtn:after {
	right: -13px;
	background: url(../images/user_info_right_bg.png) no-repeat;
}

#header #topInnerHeader #userInfo a {

}
/* /header -----------------------------------------------------------------------------*/
/* main wrapper -------------------------------------------------------------------------*/
#main {
	display: flex;
}
/* /main wrapper -------------------------------------------------------------------------*/
/* navigation --------------------------------------------------------------------------*/
#adminNavbar {
	min-width: 150px;
	width: 200px;
	min-height: calc(100vh - 90px);
	background: #666;
}

#adminNavbar a {
	display: block;
	padding: 5px 8px;
	margin: 0 0 5px 0;
	font: 16px bold;
	color: #f5f5f5;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 2px solid #555;
	background: #333
}

#adminNavbar a:hover {
	color: #333;
	background: #f5f5f5;
}
/* /navigation --------------------------------------------------------------------------*/
/* main contents -------------------------------------------------------------------------*/
#mainContent {
	margin: 0px 0 0 0px;
	padding: 20px;
	flex-grow: 1;
}

#mainContent h1 {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 30px;
	color: #848484;
}
/* /main contents -------------------------------------------------------------------------*/
/* footer ---------------------------------------------------------------------------------*/
#footer {
	width:100%;
	background: #222;
}

#footer #copyright {
	font-size:14px;
	color:#fff;
	text-align: center;
	line-height: 40px;
}

#footer #copyright a:hover {
	color:#777;
}
/* /footer ---------------------------------------------------------------------------------*/
/* random classes --------------------------------------------------------------------------*/
.bold {
	font-weight: bolder;
}

.clearFix {
	clear: both;
	zoom: 1;
}

.error, .error * {
	color: #f00;
	text-align: center;
}

.hide {
	display: none !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
}