#addSablonForm {
	margin: 50px auto 0 auto;
}

#editSablonForm {
	margin: 50px auto 0 auto;
	width: 90%;
}

#groups {
}

#groups .group {
	padding: 15px;
}

#groups .group .groupNameBar {
	padding: 10px;
	margin: 0 auto;
	font-size: 20px;
}

#groups .group .groupNameBar .groupID, .crtID {
	margin-right: 10px;
	font-weight: bold;
}

#groups .group .groupNameBar .groupName {
}

#groups .group table {
	margin: 0 0 10px 0;
	width: 100%;
}

#groups .group table thead {
	background: orange;
}

#groups .group table thead tr th {
	padding: 8px;
	color: #fff;
}

#groups .group table tbody tr:nth-child(even) {
	background: #d0d0d0;
}

#groups .group table tbody tr:nth-child(odd) {
	background: #f0f0f0;
}

#groups .group table tbody tr td {
	padding: 4px;
	text-align: center;
	border: 1px solid #666;
}

#groups .group table tbody tr td.text {
	padding: 4px;
	text-align: left;
	background: #fff;
}

#groups .group .groupMenu {
	display: flex;
	align-items: center;
}

#groups .group .groupMenu .moveUp,
#groups .group .groupMenu .moveDown {
	margin: 0 5px;
	width: 0;
	height: 0;
	vertical-align: middle;
	cursor: pointer;
	border: 20px solid transparent;
}

#groups .group .groupMenu .moveUp {
	margin-top: -20px;
	border-bottom: 20px solid orange;
}

#groups .group .groupMenu .moveDown {
	margin-bottom: -20px;
	border-top: 20px solid orange;
}

#groups {}