.form {
	border: 1px solid #e8e8e8;
	border-top: 2px solid #bfbfbf;
}

.form h2 {
	padding: 10px;
	font: 20px bold;
	color: #595959;
	border: 1px solid #e8e8e8;
	background: #fcfcfc;
}

.form .formRow {
	padding: 15px;
	border-top: 1px solid #ededed;
}

.form .formRow:after {
	content: " ";
	display: table;
	clear: both;
}

.form .formRow label {
	padding: 0 15px;
	margin: 0 0 0px 0;
	display: block;
	width: 16.66667%;
	float: left;
	font: 18px bolder;
	text-align: right;
	color:#333;
}

.form .formRow label.checkbox {
	display: inline-block;
	margin-right: 5px;
	width: auto;
	font-size: 14px;
}

.form .formRow input {
	outline: none;
}

.form .formRow input[type="text"],
.form .formRow input[type="password"],
.form .formRow select,
.form .formRow textarea {
	margin:0;
	padding:8px 13px;
	width:83.3%;
	/*height: 35px;*/
	font: 18px normal;
	color: #555;
	border-radius: 3px;
	border: 1px solid #ccc;
	background:#fff;
	background-image: none;
}

.form .formRow textarea {
	padding: 10px;
	height: 120px;
	font: 18px normal;
}

.form .formRow input.loading,
.form .formRow select.loading {
	padding-right: 42px;
	background: url(../images/loader_icon.gif) no-repeat 213px center #dcefff;
	background-size: 24px;
}

.form .formRow .button.loading {
	color: transparent;
	background: url(../images/loader_icon.gif) no-repeat center center;
	background-size: 24px;
}

.form fieldset {
	margin: 0 15px;
	border: 1px solid #e8e8e8;
}

.form fieldset legend {
	padding: 0 10px;
	font: 18px bold;
	color: #595959;
	text-align: center;
}

.form .formBody fieldset .formRow:nth-child(2) {
	border-top: none;
}

@media (max-width: 1200px) {
	.form .formRow label {
		width: 100%;
		text-align: left;
	}

	.form .formRow input[type="text"],
	.form .formRow input[type="password"],
	.form .formRow select,
	.form .formRow textarea {
		width:100%;
	}
}