.displayTable {
	margin: 20px auto;
	width: 100%;
	background: #f1f1f1;
}

.displayTable thead {
	background: #333;
}

.displayTable tr th {
	padding: 8px;
	color: #f1f1f1;
}

.displayTable tr {

}

.displayTable tr.blackRow, .displayTable tr:nth-child(even) {
	background: #ccc;
}

.displayTable tr td {
	padding: 5px;
	white-space: nowrap;
	border: 1px solid #333;
}
