<div id="mainContent">
	<h1>Eroarea #<?php echo $id; ?></h1>

	<div id="errorFrame">
		<?php if ($error): ?>
			<div><a href="<?php echo config::get('site/domain').'errorHandle/delete/'.$error->id.'/true'; ?>" onclick="return confirm('Esti sigur ca vrei sa stergi aceasta eroare?');">Sterge</a></div>
			<h3><span>Tip eroare:</span> <?php echo $error->type; ?></h3>
			<h3><span>Loc eroare:</span> <?php echo $error->place; ?></h3>
			<p><h4>Mesaj:</h4><?php echo $error->message; ?></p>
		<?php else: ?>
			<h3>Nu s-a gasit eroarea!</h3>
		<?php endif ?>
	</div>
</div>